* {
	margin: 5px;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(to right bottom, #00e714, #55c626, #68a735, #6b8942, #646d4e);
}

ul {
	list-style-type: none;
}

#root {
	padding:0;
	margin: 0;
}

.App {
  	text-align: center;
	background-color: #fff;
	height: 100%;
	min-height: 100vh;
	max-width: 80vw;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.Alert {
	margin: 0;
}

/* CitySearch */
.CitySearch {
	padding: 30px 0;
}

.city {
	padding: 4px;
	line-height: 18px;
	border: 2px solid rgba(206, 203, 203, 0.74);
	max-width: 300px;
	width: 100%;
}

.suggestion-wrapper {
	padding: 0;
	margin: 0;
}

.suggestions {
	max-width: 300px;
	width: 100%;
	margin: 4px auto;
	text-align: left;
	background-color: rgb(206, 203, 203);
	padding: 0;
	position: absolute;
	z-index: 4;
	left: 50%;
	transform: translateX(-50%)
}

.suggestions > li {
	margin: 0;
	padding: 4px;
}

.suggestions > li:hover {
	background-color: rgba(112, 185, 169, 0.692);
}

/* NumberOfEvents */
#events-number-input {
	padding: 4px;
	line-height: 18px;
	border: 2px solid rgba(206, 203, 203, 0.74);
	max-width: 100px;
	width: 100%;
}

/* EventList */
.EventList {
	text-align: left;
	margin-top: 20px;
}

/*Event*/
.event-wrapper {
	border: 2px solid rgba(206, 203, 203, 0.74);
	overflow: auto;
	padding: 0 10px 0 5px;
}

.event-wrapper > * {
	margin-bottom: 10px;
}

.btn-wrapper {
	text-align: right;
}

.btn-wrapper > button {
	padding: 8px 10px;
	color: #fff;
	background-color: #051937;
	border: none;
}

@media screen and (max-width: 550px) {
	h1 {
		font-size: 22px;
	}

	h2, h3 {
		font-size: 18px;
	}

	.App {
		max-width: 100vw;
		width: 100%;
	}

	.CitySearch > h1 {
		margin-top: 40px;
	}	

}